html {
  scroll-behavior: smooth;
  font-family: 'Questrial', sans-serif;
  /*font-weight: 300;*/
}

body, h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(white, white), url('images/backgroundwhite.png');
  background-size: cover;
  background-position: bottom left;
  background-blend-mode: saturation;
  /*background-position: bottom;*/
  /*filter: grayscale(100%);*/
  /*-webkit-filter: grayscale(100%);*/
}

.title {
  text-align: center;
  width: -moz-fit-content;
  color: rgb(95,2,31);
  /*text-shadow: 1px 1px 10px rgb(95,2,31);*/
}

.title > h1 {
  font-size: 50px;
  font-variant: small-caps;
}

.title > h2 {
  font-size: 35px;
  border-top: 1px solid rgb(95,2,31);
  font-variant: small-caps;

}

h2, h3 {
  font-variant: small-caps;

}

.arrow {
  width: 110px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px gray;
  font-size: 2em;
  position: absolute;
  bottom: 0px;
  left: 80%;
  background-color: rgb(95,2,31);
}

.arrow > a:hover {
  font-size: 1.3em;
  transition: ease font-size 0.2s;
  color: white;
}

.resume {
  /*margin-top: -200px;*/
}

#options {
  width: 110px;
  height: 250px;
  line-height: 62.5px;
  text-align: center;
  font-variant: small-caps;
  color: white;
  text-shadow: 1px 1px 10px gray;

  border: 0px;
  background-color: black;
  position: sticky;
  top: 150px;
  left: 80%;
  z-index: 999;
  /*margin-top: 200px;*/
}

#options a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: ease font-size 0.2s;
}

.sticky {
  position: sticky !important;
  top: 10% !important;
}

.active {
  background-color: #5F021F;
}


#profile {
  margin-top: -250px;
  /*text-align: center;*/
}

.avatar {
  border-radius: 50%;
  max-width: 250px;
  margin-left: 10%;
}

#profile, #education, #experiences, #contact {
  padding: 50px;
  min-height: 50vh;
}

#profile h3, #profile ul, #profile p, #education h3, #education ul, #education p, #experiences h3, #experiences ul, #experiences p, #contact h3, #contact ul, #contact p {
  margin-left: 10%;
}

#profile, #experiences {
  /*background-color: rgba(200, 200, 200, 0.2);*/
}

#education, #contact {
  background-color: rgba(95, 2, 31, 0.1);
}

#profile > p {
  max-width: 60%;
  line-height: 30px;
  text-align: left;
  margin-left: 10%;
}

#education, #experiences {
  line-height: 30px;
}

.education-list {
  max-width: 70%;
}

#contact > ul {
  list-style: none;
  font-size: 1em;
  line-height: 50px;
}

.contact-list i {
  font-size: 2em;
  vertical-align: middle;
}

a:hover {
  color: rgba(95,2,31,0.7);
  transition: ease font-size 0.2s;
}

ul {
  list-style: none;
  padding-left: 0;
}
