@import '../utils/utils';


// Mixins and Placeholders
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

// Timeline

.timeline-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.timeline-text {
  width: 25%;
  text-align: center;
  font-size: 2.5rem;
}
.tl-divider {
  display: block;
  width: 25rem;
  height: 3px;
  left: 37.5%;
  top: -7.9%;
  position: relative;
  background: $main-color;
}
.timeline {
  width: 70%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  @include prefix(transition, all .4s ease);
  
  &:before {
    content:"";
    width: 3px;
    height: 109%;
    background: $main-color;
    left: 50%;
    top: -15%;
    position: absolute;
  }
  
  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }
  
  .timeline-item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;
    
    .timeline-icon {
      background: $main-color;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      margin-left: -23px;
      transform: skewX(-14deg);
      
      .svg-tl {
        position: relative;
        top: 14px;
        left: 14px;
        fill: $background-color;
        width: 1.5rem;
        height: 1.5rem;
        transform: skewX(14deg);
      }
    }
    
    .timeline-content {
      width: 45%;
      background: $background-color;
      padding: 20px;
      @include prefix(transition, all .3s ease);
      
      .tl-main-text {
        transform: skewX(-14deg);
        background: $main-color;
        color: $background-color;
        padding: 0 1rem;
        height: 50px;
        display: flex;
        margin: -20px -20px 0 -20px;
        justify-content: space-between;
        align-items: baseline;
      }

      h2 {
        font-weight: 300;
        transform: skewX(14deg);
        padding: 0.5rem;
        height: 2rem;
      }
      
      &:before {
        content: '';
        position: absolute;
        left: calc(45% - 2px);
        top: 20px;
        width: 0; 
        height: 0; 
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent; 
        border-left:7px solid $main-color; 
        transform: skewX(-14deg);
      }
      
      &.right {
        float: right;
        
        &:before {
          content: '';
          right: calc(45% - 1px);
          left: inherit;
          border-left: 0;
          border-right: 7px solid $main-color;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
  .timeline-group {
    flex-direction: column-reverse;

    &:nth-child(1) {
      flex-direction: column;
    }
  }
  .tl-divider {
    display: none;
  }
  .timeline-text {
    width: 25%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0;
      top: -25%;
      height: 115%;
    }
    
    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;
        
        .tl-main-text {
          height: 5rem;
        }

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid;
        }
      }
      
      .timeline-icon {
        left: 0;
      }
    }
  }
}