@import '../utils/utils';

.footer {
  background-color: $background-color;
  color: $main-color;
  height: $navbar-height;
  width: 100%;
  border-top: 0.25rem solid;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .links {
    display: flex;
    align-items: center;
    
    p, a {
      margin-right: 0.5rem;
    }
  }
  
  @media only screen and (max-device-width: 736px) and (max-aspect-ratio: 13/9){
    height: fit-content;
    
    .container {
      flex-direction: column;
    }
  }
}