@import '../utils/utils';

.hero {
	width: 100%;
	height: calc(100vh - 0.25rem - #{$navbar-height});
	background-image: url('../images/bg.svg');
	background-repeat: space;
	// background-image: url('../images/backgroundblack.png');
	// background-position: top left;
	// background-size: cover;


	.title {
		text-align: center;
		margin: auto;
		font-size: 5rem;
		width: fit-content;
		padding: 2rem;
		position: relative;
		top: calc(50vh - (20rem/2) - #{$navbar-height});
		display: block;
		align-items: baseline;
		fill: $main-color;
		color: $main-color;

		.hero-btn {
			border: 3px solid;
			margin-top: 1rem;
			transform: skewX(-28deg);
			background-color: $text-color;
			.hero-btn-text {
				color: $background-color;
				text-transform: lowercase;
				font-size: 2rem;
				padding: 0.5rem 2rem;
				margin: 0;
				transform: skewX(28deg);
			}
		}

		.hero-svg {
			height: 13rem;
			width: 15rem;
			margin-right: 2rem;
		}
	}

	@media only screen and (max-device-width: 736px) and (orientation: portrait) {
		.title .hero-svg {
			margin: 0;
		}
	}
}