@import '../utils/utils';

.hero {
	width: 100%;
	height: calc(100vh - 0.25rem - #{$navbar-height});
	background-color: black;

	.title {
		text-align: center;
		text-transform: uppercase;
		margin: auto;
		font-size: 5rem;
		width: fit-content;
		padding: 2rem;
		position: relative;
		top: calc(50vh - (9rem/2) - #{$navbar-height});
		display: flex;
		align-items: baseline;

		animation-name: colorChange;
		animation-duration: 2s;
		animation-delay: 0;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;

		svg {
			height: 13rem;
			width: 15rem;
		}

		p {
			margin: 0 0 0 -0.2rem;
			letter-spacing: 0.5rem;
		}
	}
}