@import '../utils/utils';

.navbar {
	width: 100%;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: capitalize;
	height: $navbar-height;
	border-bottom: 0.25rem solid;
	position: fixed;
	z-index: 10;
	background-color: $background-color;

	#nav-check {
		display: none;
	}

	.nav-burger {
		display: none;
	}

	.logo {
		margin: auto 1rem;
		filter: drop-shadow(0 0 0.2rem black);

		.svg-logo-nav {
			height: 2rem;
			width: 2rem;
			fill: $text-color;

			&:hover {
				margin-left: -0.25rem;
				height: 2.5rem;
				width: 2.5rem;
			}
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-sections {
		width: 35%;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}
}

@media only screen and (max-device-width: 736px) and (max-aspect-ratio: 13/9){
	.navbar {
		height: 8rem;
	}

	.navbar .logo .svg-logo-nav {
		height: 4rem;
		width: 4rem;

		&:hover {
			margin-left: 0;
			height: 4rem;
			width: 4rem;
		}
	}

	.navbar .nav-burger {
		display: block;
		height: 100%;
		padding-top: 2.75rem;
	}

	.navbar .nav-burger label {
		display: block;
		z-index: 100000;
	}

	.navbar span {
		display: block;
		width: 3rem;
		height: 1rem;
		border-top: 3px solid;
	}

	.navbar .nav-sections {
		width: 50%;
		font-size: 2rem;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-left: 1rem;
		height: 0px;
		transition: all 0.3s ease-in;
		background-color: $background-color;
		overflow-y: hidden;
		top: 8rem;
		right: 0px;
	}

	.nav-sections > a {
		display: block;
		width: 100%;
	}

	.navbar #nav-check:not(:checked) ~ .container .nav-sections {
		height: 0px;
	}
	.navbar #nav-check:checked ~ .container .nav-sections {
		height: calc(25vh - 8rem);
		border: 0.25rem solid;
		border-top: 0;
		overflow-y: auto;
	}
}
