@import '../utils/utils';

.navbar {
	width: 100%;
	font-weight: bold;
	height: $navbar-height;
	border-bottom: 0.25rem solid;
	position: fixed;
	z-index: 10;
	background-color: $background-color;

	.logo {
		margin: auto 1rem;

		.svg-logo-nav {
			height: 2rem;
			width: 2rem;
			fill: $text-color;

			&:hover {
				margin-left: -0.25rem;
				height: 2.5rem;
				width: 2.5rem;
			}
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-sections {
		width: 35%;
		display: flex;
		justify-content: space-between;	
		list-style-type: none;
	}
}